body{
    background-color: rgb(255, 198, 93);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style: none;
}

#not-eaten{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#eaten{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.burger-text{
    margin-left: 100px;
}

.btn{
    background-color: black;
    color: white;
}

.my-container{
    text-align: center;
}